.formCodeWrapper {
  display: none;
}
@media (min-width: 1024px) {
  .formCodeWrapper {
    display: flex;
    min-width: 50%;
    max-width: calc(calc(100vw - 12.38vw - 3.81vw - 2rem - 1px) / 2);
  }
  .formCodeWrapper {
    padding: 12rem 0 0 0;
  }
  .formCodeWrapper span [class*="string-"] {
    overflow-x: hidden;
    white-space: break-spaces;
  }
  .formCodeWrappper code [class*="language-"],
  .formCodeWrappper code {
    display: flex;
    line-height: 1.5;
    font-size: var(--body-text-size);
  }
  .formCodeWrappper code div {
    margin: 0 0 0 1rem;
  }
  .formCodeWrappper code > * {
    font-size: var(--body-text-size) !important;
  }
}
