.contactForm {
  margin: 8rem 2rem 0 2rem;
}
.formGroup {
  margin: 0 0 3rem 0;
}
.formGroup label {
  color: var(--gray-color);
  font-size: var(--labels-text-size);
}
.formGroup input,
.formGroup textarea {
  width: calc(100% - 2rem);
  font-size: var(--labels-text-size);
  color: var(--gray-color);
  padding: 1rem;
  background: #011221;
  border: 1px solid var(--line-color);
  border-radius: 1rem;
  resize: none;
  margin: 1rem 0 0 0;
  font-family: var(--my-font);
  transition: border 0.2s ease;
}
.formGroup input:focus,
.formGroup textarea:focus {
  outline: none;
  border: 2px solid var(--gray-color);
}
.formGroup textarea {
  height: 19rem;
}
.formGroup button {
  color: var(--white-color);
  font-size: var(--code-snippets-text-size);
  font-family: var(--my-font);
  border-radius: 1rem;
  padding: 1rem 2rem;
  background: var(--line-color);
  border: 1px solid var(--line-color);
  cursor: pointer;
  transition:
    border 0.4s ease,
    background-color 1s ease;
}

.formGroup button:hover {
  border: 1px solid var(--white-color);
  background: var(--light-background-color);
}

@media (min-width: 1024px) {
  .contactFormWrapper,
  .formCodeWrapper {
    width: 50%;
    max-width: calc(calc(100vw - 12.38vw - 3.81vw - 2rem - 1px) / 2);
  }
  .contactFormWrapper {
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    border-right: 1px solid var(--line-color);
  }
  .formCodeWrapper {
    padding: 12rem 0 0 0;
  }
  .contactForm {
    width: 20.87vw;
    margin: 12rem 0 0 0;
  }

  .formCodeWrapper span [class*="string-"] {
    overflow-x: hidden;
    white-space: break-spaces;
  }
  .formCodeWrappper code [class*="language-"],
  .formCodeWrappper code {
    display: flex;
    line-height: 1.5;
    font-size: var(--body-text-size);
  }
  .formCodeWrappper code div {
    margin: 0 0 0 1rem;
  }
  .formCodeWrappper code > * {
    font-size: var(--body-text-size) !important;
  }
}
