.filesWrapper {
  margin: 1rem 2rem;
}
.filesWrapper .file:nth-child(2) .icon path {
  fill: var(--green-color);
}
.filesWrapper .file:nth-child(2) .noChangeColor path {
  fill: var(--gray-color);
}
.subFolder {
  padding: 1rem 0;
}
.icon {
  padding: 0 1rem;
}
.fileName {
  transition: color 0.4s ease;
}
.active .fileName {
  color: var(--white-color);
  fill: var(--white-color);
}
.file:hover .fileName {
  color: var(--white-color);
}
.file {
  margin: 0 0 1rem 0;
  word-break: break-all;
  cursor: pointer;
}
.file > * {
  color: var(--gray-color);
  font-size: var(--labels-text-size);
}
.file span {
  font-weight: 300;
}
.file svg {
  height: 2rem;
  width: auto;
}
.file .copied > * {
  color: var(--line-color);
  fill: var(--line-color);
}
.file button {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .file {
    margin: 0 0 2rem 0;
    font-size: var(--labels-text-size);
  }
}
