.filesWrapper {
  margin: 1rem 2rem;
}
.filesWrapper .file:nth-child(2) .icon path {
  fill: var(--green-color);
}
.filesWrapper .file:nth-child(2) .noChangeColor path {
  fill: var(--gray-color);
}
.subFolder {
  padding: 1rem 0;
}
.icon {
  padding: 0 1rem;
}
.active .fileName {
  color: var(--white-color);
  fill: var(--white-color);
}
.file {
  margin: 0 0 1rem 0;
  word-break: break-all;
}
.file > * {
  color: var(--gray-color);
  font-size: var(--labels-text-size);
}

@media (min-width: 1024px) {
  .file {
    margin: 0 0 2rem 0;
    font-size: var(--labels-text-size);
  }
}
