.wrapper {
}
.infoTab,
.leftSide {
  display: flex;
  align-items: center;
}
.infoTab {
  justify-content: space-between;
}
.profileImage img {
  width: 100%;
  border-radius: 50%;
}
.doubleLine {
  margin: 0 0 0 1rem;
  display: flex;
  flex-direction: column;
}
.username {
  font-size: var(--code-snippets-text-size);
  font-weight: 600;
  color: var(--purple-color);
}
.created {
  font-size: var(1.5rem);
  color: var(--gray-color);
}

.detail,
.stars {
  display: flex;
  align-items: center;
  font-size: var(--code-snippets-text-size);
  color: var(--gray-color);
  cursor: pointer;
}
.detail:hover,
.stars:hover {
  color: var(--white-color);
}
.detail svg,
.stars svg {
  margin: 0 1rem 0 0;
}
.codeWrapper {
  margin: 1rem 0 4rem 0;
  border: 1px solid var(--line-color);
  border-radius: 2rem;
  background: var(--dark-background-color);
  max-width: 100%;
}
.codeWrapper code {
  font-size: var(--code-snippets-text-size);
  text-wrap: wrap;
}
.codeWrapper pre {
  margin: 3rem 2rem;
}
@media (min-width: 1024px) {
  .wrapper {
    margin: 4rem 4rem 0 4rem;
  }
  .details {
    display: flex;
  }
  .detail {
    margin: 0 2rem 0 0;
  }
  .codeWrapper {
    margin: 1rem 0 0 0;
  }
  .codeWrapper pre {
    margin: 2rem 1rem;
  }
}
