:root {
  --headline-text-size: 7.75rem;
  --subHeadline-text-size: 4rem;
  --body-text-size: 2.25rem;
  --labels-text-size: 2rem;
  --code-snippets-text-size: 1.75rem;
  --line-color: #1e2d3d;
  --dark-background-color: #010c15;
  --light-background-color: #011627;
  --white-color: #e5e9f0;
  --green-color: #43d9ad;
  --gray-color: #607b96;
  --purple-color: #4d5bce;
  --brown-color: #fea55f;
  --max-height-desktop-between-footer-nav: calc(100vh - 10rem - 6.25rem - 7rem);
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-weight: 400;
}
h1,
h2,
h3 {
  font-size: var(--labels-text-size);
  font-weight: 400;
  line-height: 100%;
}
html,
body {
  font-size: 8px;
  background: var(--dark-background-color);
  color: var(--white-color);
}
button {
  background: none;
  border: none;
  font-family: var(--my-font);
}

.container {
  max-width: 100vw;
  width: calc(100vw - 4rem);
  min-height: calc(100vh - 4rem);
  border-radius: 1rem;
  border: 1px solid var(--line-color);
  margin: 2rem;
  background: var(--light-background-color);
}
.currentPage {
  padding: 3rem 2rem;
  font-size: var(--code-snippets-text-size);
}
.aboutWrapper,
.contactWrapper,
.projectsWrapper,
.thanksWrapper {
  min-height: calc(100vh - 4rem - 6.25rem - 7.75rem - 6vh);
}

::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 1024px) {
  body {
    overflow: hidden !important;
  }
  .container {
    width: calc(100vw - 10rem);
    min-height: calc(100vh - 10rem);
    max-height: calc(100vh - 10rem);
    margin: 5rem;
    overflow: hidden !important;
  }
  .currentPage {
    display: none;
  }
  .aboutWrapper,
  .contactWrapper,
  .projectsWrapper,
  .thanksWrapper {
    display: flex;
    max-height: var(--max-height-desktop-between-footer-nav);
  }
}
