.heroSection {
  min-height: calc(100vh - 4rem - 6vh - 6.25rem);
  /* vh minus container padding minus mobile nav height */
  max-height: 100vh;
  display: flex;
  align-items: center;
}

.heroGreeting {
  padding: 10rem 0 0 2rem;
  font-size: var(--body-text-size);
}
.heroName {
  margin: 0 0 0 1rem;
  font-size: var(--headline-text-size);
}
.heroSubtitle {
  margin: 0 0 0 2rem;
  font-size: 2.5rem;
  color: var(--green-color);
}
.heroGray {
  font-size: var(--code-snippets-text-size);
  color: var(--gray-color);
  margin: 10rem 0 1rem 2rem;
}
.heroGit {
  font-size: var(--code-snippets-text-size);
  margin: 0 0 1rem 2rem;
  word-break: break-all;
}
.keyword {
  color: var(--purple-color);
}
.variableName {
  color: var(--green-color);
}
.heroGit a {
  color: var(--brown-color);
}
.leftSide {
  height: 100%;
  z-index: 1;
}
.rightSide {
  display: none;
}

.heroBackground {
  max-width: calc(100vw - 4rem + 1px);
  width: 100%;
  right: 2rem;
  left: 2rem;
  position: absolute;
  min-height: calc(100vh - 4rem - 6vh - 6.25rem);
  height: calc(100vh - 4rem - 6vh - 6.25rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greenBlur,
.purpleBlur {
  background: var(--green-color);
  width: 70%;
  border-radius: 50%;
  height: 30%;
  filter: blur(174px);
}
.purpleBlur {
  background: var(--purple-color);
  margin: 0 0 0 50%;
}

@media (min-width: 1024px) {
  .heroSection {
    min-height: calc(100vh - 10rem - 4rem - 6.5rem);
    /* vh minus container margin minus nav padding */
    display: flex;
    align-items: center;
  }
  .heroBackground {
    max-height: calc(100vh - 4rem - 6vh - 4rem - 6rem);
    min-height: calc(100vh - 4rem - 6vh - 4rem - 6rem + 4px);
    width: calc(100vw - 10rem + 1px);
    left: 5rem;
    max-width: calc(100vw - 10rem + 1px);
  }
  .leftSide,
  .rightSide {
    width: 50%;
  }
  .leftSide {
    padding: 0 0 0 16.19vw;
  }
  .rightSide {
    display: block;
  }
}
